<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Open Cart Test automtion suite" thread-count="3" parallel="tests" verbose="3">

	<listeners>
		<!-- 		<listener class-name="com.qa.opencart.testlistners.ExtentReportListener" />  -->
		<listener class-name="com.qa.opencart.testlistners.TestAllureListener" />
		<!--		<listener class-name="com.qa.opencart.testlistners.TesultsListener" />  -->
	</listeners>

	<test name="Login page Test">
		<classes>
			<class name="com.qa.opencart.tests.LoginPageTest" />
		</classes>
	</test>

	<test name="Accounts page Test">
		<classes>
			<class name="com.qa.opencart.tests.AccountsPageTest" />
		</classes>
	</test>

	<test name="Product Info page Test">
		<classes>
			<class name="com.qa.opencart.tests.ProductInfoPageTest" />
		</classes>
	</test>

</suite>